main{
    flex-grow: 1;
  }
  
  main > article {
    display: grid;
    height: 100%;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr;
  }
  
  main > article > .article-section {
    height: 100%;
    border: 1px solid var(--border-color);
  }
  
  main > article > .article-image {
    width: 100%;
    height: 100%;
    background-image: url("/public/article-assets/pexels-donatello-trisolino-1371724.jpg");
    background-position: bottom right;
    background-size: cover;
  }