:root{
  --border-color: rgb(255,255,255,0.1);
}

body{
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0px;
  overflow: hidden;
  background-color: black;
}

* {
  box-sizing: border-box;
}

nav {
  display: flex;
  width: 100%;
  border: 1px solid var(--border-color);
}

nav > .nav-element {
  padding: 3rem 2rem;
  display: flex;
  gap: 1rem;
  border-left: 1px solid var(--border-color);
  align-items: center;
  justify-content: center;
}

#nav-logo,
#nav-link {
  flex-basis: calc(100%/3);
}
#nav-logo{
  justify-content: left;
}

#nav-social,
#nav-contact{
  flex-grow: 1;
}

a,p{
  font-family: serif;
  font-weight: 400;
  color: white;
}

a{
  text-decoration: none;
}

main{
  flex-grow: 1;
}

main > article {
  display: grid;
  height: 100%;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 1fr;
}

main > article > .article-section {
  height: 100%;
  border: 1px solid var(--border-color);
}
